# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/copyright/
.idea/daniiltserin_bot.iml
.idea/dataSources.local.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
vendor
